<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelmaintenance">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelMaintenance"
        tools:targetApi="31">
        <activity
            android:name=".HOD_Final_Verification"
            android:exported="false" />
        <activity
            android:name=".HOD_Stats_Activity"
            android:exported="false" />
        <activity
            android:name=".HOD_Granted_Leaves"
            android:exported="false" />
        <activity
            android:name=".HOD_Grant_Leave"
            android:exported="false" />
        <activity
            android:name=".HOD_Dashboard_Activity"
            android:exported="false" />
        <activity
            android:name=".CC_Final_Verification"
            android:exported="false" />
        <activity
            android:name=".CC_College_Stats"
            android:exported="false" />
        <activity
            android:name=".CC_Processed_Verification"
            android:exported="false" />
        <activity
            android:name=".CC_Verify_Leave"
            android:exported="false" />
        <activity
            android:name=".Course_Coordinator_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Student.LeaveStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Student.LeaveRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintCheckHostelActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDirectoryHostel"
            android:exported="false" />
        <activity
            android:name=".ElectricityBillStats"
            android:exported="false" />
        <activity
            android:name=".StaffDetailsHostel"
            android:exported="false" />
        <activity
            android:name=".HostelStats"
            android:exported="false" />
        <activity
            android:name=".VerifiedLeavesHostel"
            android:exported="false" />
        <activity
            android:name=".HostelWardenDashboard"
            android:exported="false" />
        <activity
            android:name=".Student.ComplaintStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Student.ComplaintRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Student.OutingActivity"
            android:exported="false"
            android:label="@string/title_activity_outing"
            android:theme="@style/Theme.HostelMaintenance.NoActionBar" />
        <activity
            android:name=".Student.ElectricityBillActivity"
            android:exported="false"
            android:label="@string/title_activity_electricity_bill"
            android:theme="@style/Theme.HostelMaintenance.NoActionBar" />
        <activity
            android:name=".Student.EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".Student.MessActivity"
            android:exported="false" />
        <activity
            android:name=".Student.LeaveActivity"
            android:exported="false" />
        <activity
            android:name=".Student.ComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".Student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".Main.LoginActivity"
            android:exported="false" />
    </application>

</manifest>