<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelmaintenance">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelMaintenance"
        tools:targetApi="31">
        <activity
            android:name=".LeaveStatusActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintCheckHostelActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDirectoryHostel"
            android:exported="false" />
        <activity
            android:name=".ElectricityBillStats"
            android:exported="false" />
        <activity
            android:name=".StaffDetailsHostel"
            android:exported="false" />
        <activity
            android:name=".HostelStats"
            android:exported="false" />
        <activity
            android:name=".VerifiedLeavesHostel"
            android:exported="false" />
        <activity
            android:name=".HostelWardenDashboard"
            android:exported="false" />
        <activity
            android:name=".ComplaintStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".OutingActivity"
            android:exported="false"
            android:label="@string/title_activity_outing"
            android:theme="@style/Theme.HostelMaintenance.NoActionBar" />
        <activity
            android:name=".ElectricityBillActivity"
            android:exported="false"
            android:label="@string/title_activity_electricity_bill"
            android:theme="@style/Theme.HostelMaintenance.NoActionBar" />
        <activity
            android:name=".EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".MessActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>